
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex; 
font-family: "Ubuntu";
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
  background: rgba(134,255,0,1);
  box-shadow: 0 0 20px rgba(134,255,0,1),
    0 0 40px rgba(134,255,0,1),
    0 0 60px rgba(134,255,0,1),
    0 0 80px rgba(134,255,0,1),
    0 0 0 8px rgba(134,255,0,.1);
}

.glowing span:nth-child(3n + 2)::before {
  background: rgba(255,214,0,1);
  box-shadow: 0 0 20px rgba(255,214,0,1),
    0 0 40px rgba(255,214,0,1),
    0 0 60px rgba(255,214,0,1),
    0 0 80px rgba(255,214,0,1),
    0 0 0 8px rgba(255,214,0,.1);
}

.glowing span:nth-child(3n + 3)::before {
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0,226,255,1),
    0 0 40px rgba(0,226,255,1),
    0 0 60px rgba(0,226,255,1),
    0 0 80px rgba(0,226,255,1),
    0 0 0 8px rgba(0,226,255,.1);
}

.glowing span:nth-child(3n + 1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
  animation: animate 8s alternate infinite; 
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}
.container {
    margin-top: 10%;
    font-family: "Ubuntu";
    font-size: "50px";
    color: #FFF;
}

.container p {
    font-size: 50px;
    margin-bottom: 2px;
}

#iurl {
    background-color: inherit;
    width: 100%;
    height: 28px;
    border: solid 1px #FFF;
    font-family: "Ubuntu";
    font-size: 16px;
    color: #eee;
    padding: 8px 0px;
    margin-bottom: 5px;
    box-sizing: content-box;
    text-align: center;
    border-radius: 2px;
}

#btn {
    background-color: inherit;
    width: 100%;
    height: 28px;
    border: solid 1px #0066ff;
    font-family: "Ubuntu";
    font-size: 16px;
    color: #0066ff;
    padding: 8px 0px;
    box-sizing: content-box;
    transition: 0.3s;
    border-radius: 2px;
}

#btn:hover {
    background: #0066ff;
    color: #fff;
    background-repeat: no-repeat;
}

.container a {
    height: 20px;
    background: inherit;
    background-size: cover;
    color: #ddd;
    border: 0;
    cursor: pointer;
    font-family: "Ubuntu";
    font-size: 17px;
    transition: 0.3s;
}

.container a:hover {
    font-size: 23;
}

.url {
    width: 300px;
    margin: auto;
}
